body {
    background-color: #f5f5f5;
    font-size: large;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

#my-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 2em;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
}

#chatbox {
    max-width: 600px;
    padding: 2em;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    display: none;
}

#welcome-or-disconnect {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chat {
    min-height: 500px;
    min-width: 500px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 5px;
    overflow-y: scroll;
    resize: none;
}

#message-form {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#message-input {
    min-width: 450px;
}

#footer {
    text-align: center;
}

#connect1 {
    margin-top: 10px;
}
